body {
    background: grey;
    font-family: sans-serif;
    text-align: center;
  background-color: rgb(199, 196, 196);
  margin-top: 50px;
}
div {
    
    border-style: 2px;
    border-width: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: aliceblue;
    padding: 20px 20px 20px 20px;
    margin-left: 50px;
    margin-right: 50px;
    
}

button {
  padding: 10px 20px;
  border-radius: 8px;
  color: rgb(232, 239, 241);
   background-color: rgba(26, 112, 5, 0.796);
   margin-right: 350px;
} 
.d2{
    margin-top: 30px;
}
.d3{
    margin-top: 30px;
}
.puple{
    background-color: rgb(49, 2, 93);
}
.orange{
    background-color: rgb(134, 61, 9);
}
.green{
    background-color: darkgreen;
}
